[user]
	email = spomello@yandex.com
	name = Ovi Farcas
[color]
	branch = auto
	status = auto
	diff = auto
	ui = true
[branch]
	autosetuprebase = always
[core]
	editor = /usr/bin/vim
[push]
	default = simple
